style>
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

section {
    width:350px;
    float:left;
    padding:10px; 
}
footer {
    background-color:#cc0000;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
select {
    color: white;
}

</style>


