.jumbotron.xyz {
  padding-top: 4px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  color: inherit;
  background-color: #eee;
}
.jumbotron .h1 {
  color: yellow;
}
footer {
    background-color:#cc0000;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
